@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: FonteSupimpa;
	src: url("../fonts/Bahnschrift-Semibold-Condensed.ttf");
}

/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 0;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	background: white;
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #0E1113;
}

#header {
	z-index: 1000;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: rgba(0,0,0,0.2);
	transition: 0.65s;
}

.scrolled {
	height: 40px!important;
	background: rgba(12,14,17,1)!important;
	transition: 0.35s!important;
}

.scrolled #logo-img {
	-webkit-filter: invert(100%)!important;
	top: 0px!important;
	transform: rotateY(-360deg);
}

.scrolled table tr td:hover {
	color: black!important;
	background: #eee!important;
}

#header #logo-img {
	position: absolute;
	top: 5px;
	left: 75px;
	height: 40px;
	width: 40px;
	transition: 0.35s;
}

#header table {
	position: absolute;
	height: 100%;
	width: 50%;
	right: 0;
	border-spacing: 0px;
}

#header table tr td {
	transition: 0.45s;
	text-align: center;
	width: 20%;
	font: 15px Roboto;
	color: white;
}

#header table tr td a {
	transition: 0.45s;
	text-align: center;
	width: 20%;
	font: 15px Roboto;
	color: white;
	text-decoration:none;
}

#header table tr td:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.7);
}

#content {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

#content-slide {
	position: relative;
	height: 900px;
	width: 100%;
}

#content-slide .slide-image {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#content-slide #slide-image-1 {
	background-image: url('../Imgs/image-1.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}	

#content-slide #slide-image-2 {
	background-image: url('../Imgs/image-2.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

#content-slide #slide-image-3 {
	background-image: url('../Imgs/image-3.jpg');
	background-repeat: no-repeat;
	background-position: top;
}

#content #profile-table {
	position: relative;
	height: 400px;
	width: 85%;
	margin: 0 auto;
}

#content #profile-table tr td:first-child {
	text-align: center;
	width: 25%;
}

#content #profile-table tr td:first-child img {
	display: block;
	height: 300px;
	width: 300px;
	margin: 0 auto;
}

#content #profile-table #profile-title {
	color: black;
	font: 21px Roboto;
	text-align: left;
}

#content #profile-table #profile-description {
	color: #777;
	font: 16px Roboto;
	text-align: left;
}

#content #profile-table tr td:last-child img {
	margin-top: 15px;
	margin-right: 20px;
	height: 30px;
	width: 30px;
	border-radius: 34px;
}

#recent-works {
	display: block;
	background: rgb(12,14,17);
	height: auto;
	width: 100%;
	padding-bottom: 50px;
}

#recent-works #recent-works-title {
	display: block;
	width: 100%;
	padding: 10px 0px;
	font: 25px FonteSupimpa;
	color: white;
	text-align: center;
}

#recent-works table {
	width: 100%;
	border-spacing: 0px;
}

#recent-works table tr td:first-child {
	padding: 0!important;
}

#recent-works table tr td img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

#recent-works table tr td {
	width: 33.33%;
	font: 17px FonteSupimpa;
	color: #eee;
	text-align: center;
	padding-top: 15px;
}

#footer {
	position: relative;
	width: 100%;
	height: 20px;
	background: rgb(12,14,17);
}

#footer #contact-info {
	position: absolute;
	display: block;
	height: 20px;
	left: 25px;
	color: #999;
	text-align: left;
	font: 13px Avenir, sans-serif;
	line-height: 20px;
}

#footer #copyright {
	position: absolute;
	display: block;
	right: 25px;
	height: 20px;
	line-height: 20px;
	text-align: right;
	font: 10px Roboto, sans-serif;
	color: #555;
}



/* PAGE CONTACT */
#mid {
	width: 100%;
	height: 100%;
	background: url(../Imgs/background.png) no-repeat bottom right;
	
}

#title-contact{
	position: absolute;
	width: 100%;
	height: 20%;
	text-align: center;
	font: 20px Roboto, sans-serif;
	padding-top: 20px;
	color: black;
}

#title-contact h1{
	text-align: center;
	font: 40px FonteSupimpa, sans-serif;
	padding-top: 20px;
	color: black;
}


#title-contact p{
	text-align: center;
	font: italic 20px FonteSupimpa, sans-serif;
	padding-top: 15px;
	color: black;
	opacity: 0.8;
}


#image-contact{
	float: left;
	width: 100%;
	height: auto;	
	text-align: center;
	margin: 250px 0% 0 0%;
	padding: 0 24.38%;

}

#style-image1{
	width: 25%;
	float: left;
	opacity: 0.5;
}

#style-image2{
	width: 25%;
	float: left;
	opacity: 0.5;
}

#style-image3{
	width: 25%;
	float: left;
	opacity: 0.5;
}

#style-image4{
	width: 25%;
	float: left;
	opacity: 0.5;
}

#style-image1:hover{
	opacity: 1;
	transition: opacity 0.5s ease-out; 
}

#style-image2:hover{
	opacity: 1;
	transition: opacity 0.5s ease-out; 
}

#style-image3:hover{
	opacity: 1;
	transition: opacity 0.5s ease-out; 
}

#style-image4:hover{
	opacity: 1;
	transition: opacity 0.5s ease-out; 
}

/*FORMULARIO*/

#form{
	width: 100%;
	height: 250px;
	float: left;
	padding-top: 17px;
	padding-left: 35%;
	padding-right: 35%;
}

fieldset{
	padding: 63px;
}

legend{
	font-size: 15px;
	font-weight: bolder;
	color: #666666;
}

#nome, #email, #about, #message{
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding: 10px;
	width: 97%;
	color: black;
	font-size: 10px;
	
}

input[type="submit"]{
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding: 10px;
	width: 97%;
	color: black;
	font-size: 10px;
}

input[type="submit"]:hover{
	border: none;
	border-bottom: 1px solid #000000;
	background-color:#DBDBDB;
	transition: 0.2s ease-out;
	padding: 10px;
	width: 97%;
	color: black;
	font-size: 11px;
	cursor: pointer;
}


/*PAGE JOBS*/

#albuns{
	width: 80%;
	margin: 0 0 0 9%;
}

#box1{
	width: 50%;
	padding: 300px 0 0 0;
	text-align: center;
	float: left;
	
}

 #imagebox1 img{
    width: 60%;
}

 #imagebox1 img:hover{
    width: 65%;
	transition: 0.2s ease-out 0.1s;
}

#textbox1 p{
	font: italic 10px Roboto, sans-serif;
	color: black;
	text-align: center;
}

#box2{
	width: 50%;
	padding: 300px 0 0 0;
	text-align: center;
	float: left;
}

 #imagebox2 img{
    width: 65%;
}

 #imagebox2 img:hover{
    width: 70%;
	transition: 0.2s ease-out 0.1s;
}

#textbox2 p{
	font: italic 10px Roboto, sans-serif;
	color: black;
	text-align: center;
	
}

